

<!-- <h1>{{title}}</h1> -->
<!-- <app-one></app-one> -->

<header>
  
</header>
<div class="content-wrapper">
  <main>
    <router-outlet></router-outlet> 
  </main>
</div>












<!-- <div class="wrapper">
      <header>
            <app-header></app-header>
      </header>
      <main>
        <div class="content-wrapper">
          <router-outlet></router-outlet>
        </div>
      </main>
    

    <app-sidebar></app-sidebar>
 
   
  </div>
  <app-footer>

  </app-footer> -->
<!-- 
  <footer>
    <div class="footer-bottom">
      <p>&copy; 2023 Your Company Name. All rights reserved.</p>
    </div>
  </footer>   -->



















<!-- <app-header></app-header> -->
<!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-apply-leave></app-apply-leave> -->
<!-- <app-update-leave></app-update-leave> -->
<!-- <app-view-leave></app-view-leave> -->
