/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: stretch;
    margin-top: 50px;
  }

  .login-logo {
    text-align: center;
  }
  .login-logo img {
    width: 80px;
    height: 80px;
  }
  .login-logo h2 {
    margin-top: 10px;
  }
  
  .row {
    display: flex;
    width: 100%;
  }
  
  .login-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-logo img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .login-logo h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn-block {
    width: 100%;
    padding: 10px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
  }
  
  .image-container img {
    width: 100%;
      object-fit: cover;
  }

 
  

  /* body {
    background-color: #f0f0f0;
  }
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
  }
  .login-logo {
    text-align: center;
  }
  .login-logo img {
    width: 80px;
    height: 80px;
  }
  .login-logo h2 {
    margin-top: 10px;
  }
  
  .ng-invalid.ng-touched.form-control{
    border : 1px solid red;
  } 
  
  .footer-bottom{
    text-align: center;
  }
  .custom{
    background-color: orange;
  }
  
  
  ::ng-deep .custom-checkbox .mat-checkbox{
    background-color: blue;
    border: 3px solid red;  
  }
  .image-container{
    wif
  } */